@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alex Brush";
  src: url("/fonts/Alex_Brush/AlexBrush-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /*Sektion Farver */
  --color-sektion-beige: #eee9d7;
  --color-sektion-blue: #e4eaf1;
  --color-sektion-lys: #f9f7f1;
  --color-sektion-green: #173a31;

  /*Baggrund Farver */
  --color-baggrund-gul: #fffdf5;

  /*Knap Farver */
  --color-knap-primary: #173a31;
  --color-knap-neutral: #eee9d7;

  /*Knap Hover Tekst*/
  --color-green-700: #205b4b;
  --color-green-950: #0d211d;
  --color-beige-200: #ded4b4;

  /*Navigation Farver */
  --color-navigation-green-900: #173a31;

  /*Footer Farver */
  --color-footer-green-900: #173a31;

  /*Grafik Farver */
  --color-grafik-primær-green-900: #173a31;
  --color-grafik-sekundær-neutral-50: #fafafa;
  --color-neutral-600: #52525b;

  /*Farver Tekst*/
  --color-text-primary-neutral-950: #09090b;
  --color-text-secondary-neutral-600: #52525b;
  --color-text-inverce-neutral-50: #fafafa;
  --color-neutral-300: #d4d4d8;

  /*Typografi */
  --font-sans: "Montserrat", sans-serif;
  --font-display: "EBGaramond", Georgia, serif;
  --font-alex-brush: "Alex Brush", cursive;

  --text-body: 1rem; /* 19px */
}

@layer base {
}

@layer components {
  .page-container {
    @apply w-full px-10 md:px-8 lg:px-20 max-w-[1400px] mx-auto;
  }
}

@layer utilities {
}
